##################################
# Python 通用
##################################
__pycache__/
*.py[cod]
*.pyo
*.pyd

##################################
# 虚拟环境
##################################
venv/
.env/
.env*/
.venv/
conda/
.evsemmap/

##################################
# PyTorch / 深度学习
##################################
*.pth
*.pt
*.ckpt
*.onnx

##################################
# 训练输出 / 日志 / 缓存
##################################
ckpts/
# logs/
# runs/
# wandb/
# tensorboard/
logs_tb/
events.out.tfevents.*

##################################
# 你项目里的预训练模型
##################################
pretrained/

##################################
# 数据集（通常不进 Git）
##################################
# data/
# datasets/*/raw/
# datasets/*/processed/

##################################
# Jupyter
##################################
.ipynb_checkpoints/

##################################
# 系统 & 编辑器
##################################
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

##################################
# 编译 / 临时文件
##################################
build/
dist/
*.log
*.tmp
*.cache
